
<h1>{{'CHOOSE' | translate}}</h1>

<a [routerLink]="['/stage-of-life-options']">
  <div class="card col-xs-3">
    <i class="fa fa-group"></i>
    <div class="card-info">
      <h4><b>{{'STAGE_OF_LIFE' | translate}}</b></h4>
      <p>info</p>
    </div>
  </div>
</a>

<div class="col-xs-1"></div>
<a [routerLink]="['/topic-of-interest-options']">
  <div class="card col-xs-3">
    <i class="fa fa-trophy"></i>
    <div class="card-info">
      <h4><b>{{'TOPIC_OF_INTEREST' | translate}}</b></h4>
      <p>info</p>
    </div>
  </div>
</a>

<div class="col-xs-1"></div>

<a [routerLink]="['/diagnosis-options']">
  <div class="card col-xs-3">
    <i class="fa fa-stethoscope"></i>
    <div class="card-info">
      <h4><b>{{'DIAGNOSIS' | translate}}</b></h4>
      <p>info</p>
    </div>
  </div>
</a>

<div class="row">
  <div class="col-xs-12">
    <div>
      <h2> {{ 'SWITCH_LANGUAGE' | translate }}</h2>

      <button class="btn btn-default" (click)="setLanguage('en')">
        <span class="flag-icon flag-icon-us"></span>  {{ 'ENGLISH' | translate }}
      </button>

      <button class="btn btn-default" (click)="setLanguage('no')">
        <span class="flag-icon flag-icon-no"></span> {{ 'NORWEGIAN' | translate }}
      </button>

    </div>
  </div>
</div>
