
<h1>Choose a <b>topic of interest</b> to start your search for resources and services...</h1>

<a [routerLink]="['/search-results']">
  <div class="card col-xs-3">
    <i class="fa fa-bullhorn"></i>
    <div class="card-info">
      <h4><b>Advocacy</b></h4>
      <p>info</p>
    </div>
  </div>
</a>

<div class="col-xs-1"></div>

<a [routerLink]="['/search-results']">
  <div class="card col-xs-3">
    <i class="fa fa-book"></i>
    <div class="card-info">
      <h4><b>Basic Needs</b></h4>
      <p>info</p>
    </div>
  </div>
</a>
<div class="col-xs-1"></div>

<a [routerLink]="['/search-results']">
  <div class="card col-xs-3">
    <i class="fa fa-phone"></i>
    <div class="card-info">
      <h4><b>Communication</b></h4>
      <p>info</p>
    </div>
  </div>
</a>
