
<h1>
  Choose a <b>diagnosis</b> to start your search for resources and services...
</h1>

<a [routerLink]="['/search-results']">
  <div class="card col-xs-3">
    <i class="fa fa-file-image-o"></i>
    <div class="card-info">
      <h4><b>Autism</b></h4>
      <p>info</p>
    </div>
  </div>
</a>

<div class="col-xs-1"></div>

<a [routerLink]="['/search-results']">
  <div class="card col-xs-3">
    <i class="fa fa-file-image-o"></i>
    <div class="card-info">
      <h4><b>Behavior Concerns</b></h4>
      <p>info</p>
    </div>
  </div>
</a>

<div class="col-xs-1"></div>

<a [routerLink]="['/search-results']">
  <div class="card col-xs-3">
    <i class="fa fa-file-image-o"></i>
    <div class="card-info">
      <h4><b>Blind/ Low Vision</b></h4>
      <p>info</p>
    </div>
  </div>
</a>
