
<h1>Choose a path to find information and services..."</h1>

<a [routerLink]="['/search-results']">
  <div class="card col-xs-3">
    <i class="fa fa-heart-o"></i>
    <div class="card-info">
      <h4><b>Prenatal/ Infancy</b></h4>
      <p>info</p>
    </div>
  </div>
</a>

<div class="col-xs-1"></div>

<a [routerLink]="['/search-results']">
  <div class="card col-xs-3">
    <i class="fa fa-spoon"></i>
    <div class="card-info">
      <h4><b>Early Childhood</b></h4>
      <p>info</p>
    </div>
  </div>
</a>
<div class="col-xs-1"></div>

<a [routerLink]="['/search-results']">
  <div class="card col-xs-3">
    <i class="fa fa-soccer-ball-o"></i>
    <div class="card-info">
      <h4><b>School Age</b></h4>
      <p>info</p>
    </div>
  </div>
</a>
